* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue-dark: #0b2a60;
    --blue-light: #3789e6;
}

img {
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header{
    position: absolute;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

header ul {
    display: flex;
    align-items: baseline;
    gap: 18px;
    color: #ffffff;
}

header ul li {
    text-transform: uppercase;
    font-weight: 600;
}

header ul li a {
    color: #ffffff;
}

main {
    height: 100vh;
    width: 100%;
    padding: 0 100px;
    position: relative;
    z-index: 1;
}

.bg-banner {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 3;
}

.direita {
    background-image: linear-gradient(to bottom right,var(--blue-dark),rgba(55, 137, 230,1)),url('assets/imagens/bar.png');
    /* background-image: radial-gradient(circle,rgba(255, 255, 255, 0.267),var(--blue-light)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 70%;
}

.esquerda {
    background-color: rgb(255, 255, 255);
    width: 30%;
}

.luandina-txt {
    position: absolute;
    top: 20px;
    left: 80px;
    color: white;
    opacity: 0.8;
    font-size: 19rem;
    
}

.dina{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #3e64ee;
}

/* Conteudo */

.conteudo {
    position: absolute;
    width: 100%;
    height: 50vh;
    z-index: 10;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
    
 }


.cerveja-conteiner {
    width: 100px;
    height: 100px;
    position: absolute;
}

.cerveja-img {
    z-index: 1;
}

.graphic {
    position: absolute;
    top: -100;
    left: 0;
    z-index: 0;
}


